<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Riverside Holdings</title>

    <!--font awsome icons-->
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.0/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.0/css/sharp-solid.css">

    <!--nav bar styles and scrits-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/customscript/style.css">
    <meta name="robots" content="noindex, follow">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-fixed-top" style="background-color: #3E85CE;">
        <div class="menubtn">
            <button type="button" id="sidebarCollapse" class="btn btn-whte">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>   
    </div>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu float-left">
             </div>
                <h1><a href="/Home/Index" class="logo">Riverside Holdings</a></h1>
                <ul class="list-unstyled components mb-5">
                    <li>
                        <a href="/Home/Index"><span class="fa fa-tachometer mr-3"></span> Dashboard</a>
                    </li>
                    <li>
                        <a href="/Home/Clients"><span class="fa fa-users mr-3"></span> Clients</a>
                    </li>
                    <li>
                        <a href="/Home/Finance"><span class="fa fa-coins mr-3"></span> Financials</a>
                    </li>
                </ul>
        </nav>
        <div id="content" class="p-4 p-md-5 pt-5">
            <br /><br />
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Riverside Holdings v1.2.0</p>
            </footer>
        </div>
    </div>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/customscript/jquery.min.js"></script>
    <script src="~/customscript/main.js"></script>
    <script src="~/customscript/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993"
            integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA=="
            data-cf-beacon='{"rayId":"76889372cf139cb4","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.11.0","si":100}'
            crossorigin="anonymous">
    </script>
</body>
</html>
