@model Riverside_Hodlings___System01___Db2___Ent_Framework.Models.ClientsVm
@{
    ViewBag.Title = "ClientDetails";

    var client = Model.Clients[0];
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<a class="btn btn-dark float-right" style="position:fixed; right:15px; z-index:6;" href="/Home/Clients"><i class="fa-solid fa-chevron-left"></i></a>
<br />

<h3><i class="fa-solid fa-user mr-3"></i>@client.NAME</h3>
<hr />
<div class="row">
    <div class="col-sm-3">
        <center><img src="~/icons/userClient.png" alt="box" width="18%" /></center>
        <h4 class="crdheading">Client Details</h4>
        <h5><i class="fa-regular fa-calendar-plus mr-3"></i>Client Created: @client.DATE_ADDED</h5>
        <h5><i class="fa-solid fa-id-card mr-3"></i>@client.CLIENT_ID</h5>
        <h5><i class="fa-solid fa-user mr-3"></i>@client.NAME</h5>
        <h5><i class="fa-solid fa-envelope mr-3"></i>@client.EMAIL</h5>
        <h5><i class="fa-solid fa-phone mr-3"></i>@client.PHONE_NUMBER</h5>
        <h5><i class="fa-solid fa-location-dot mr-3"></i>@client.ADDRESS</h5>
        <h5><i class="fa-solid fa-people-arrows mr-3"></i>@client.CONTACT_PERSON</h5>
        <br />
        <button class="btn btn-info" id="@client.CLIENT_ID" onclick="EditClient(this.id)"><i class="fa-regular fa-user-pen mr-3"></i>Edit Client</button>
        <button class="btn btn-success" id="@client.CLIENT_ID" onclick="viewStatement(this.id)"><i class="fa-solid fa-file-lines mr-3"></i>View Statement</button>
    </div>

    <div class="col-sm-5">
        <center><img src="~/icons/invoice.png" alt="box" width="10%" /></center>
        <h4 class="crdheading">@client.NAME's Invoices</h4>

        <div class="allorders-sect-cli">
            <table class="table table-striped">
                <thead class="bg-dark text-light">
                    <tr>
                        <th>Order #</th>
                        <th class="smallscreennotshow">Date</th>
                        <th class="smallscreennotshow">Recipient</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var inv in Model.Invoices)
                    {
                        <tr>
                            <td style="color: #3E85CE; font-weight: bold;">@inv.INVOICE_NUM</td>
                            <td class="smallscreennotshow">@inv.INVOICE_DATE</td>

                            @foreach (var cli in Model.Clients)
                            {
                                if (inv.CLIENT_ID == cli.CLIENT_ID)
                                {
                                    <td class="smallscreennotshow">@cli.NAME</td>
                                }
                            }
                            <td>R @inv.INVOICE_TOTAL</td>

                            @if (inv.PAYMENT_STATUS == "Paid                ")
                            {
                                <td class="greenclr">
                                    <span><img src="~/icons/checked.png" class="icnImg" /></span> <b>@inv.PAYMENT_STATUS</b>
                                </td>
                            }
                            else if (inv.PAYMENT_STATUS == "Awaiting Payment    ")
                            {
                                <td class="orangepclr">
                                    <span><img src="~/icons/pending.png" class="icnImg" /></span> <b>@inv.PAYMENT_STATUS</b>
                                </td>
                            }
                            else
                            {
                                <td class="redclr">
                                    <span><img src="~/icons/cancel.png" class="icnImg" /></span> <b>@inv.PAYMENT_STATUS</b>
                                </td>
                            }

                            <td><button class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("OrderDetails", "Orders", new { Orderid=inv.INVOICE_NUM}) + "'")"><i class="fa-regular fa-eye"></i></button></td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-4">
        <center><img src="~/icons/payment-method.png" alt="box" width="13%" /></center>
        <h4 class="crdheading">@client.NAME's Payments</h4>

        <div class="allorders-sect-cli">
            <table class="table table-striped">
                <thead class="bg-dark text-light">
                    <tr>
                        <th>DATE</th>
                        <th>DESCRIPTION</th>
                        <th>AMOUNT</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pay in Model.ClientPayments)
                    {
                        <tr>
                            <td>@pay.DATE</td>
                            <td>@pay.DESCRIPTION</td>
                            <td>@pay.AMOUNT</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--edit Modal -->
<div class="modal fade" id="editClientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle"><i class="fa-solid fa-user-pen mr-3"></i> Edit Client</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="clientModalbody" class="modal-body">

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function EditClient(cliId) {
        $.ajax({
            url: '/ManageClients/EditClient/',
            type: 'GET',
            data: {
                id: cliId
            },
            success: function (response) {
                $('#clientModalbody').html(response);
                $('#editClientModal').modal('show');
            },
            error: function () {
                alert("There is some problem in the mangeclients service! Check Controller or view.")
            }
        });
    }
</script>