@model Riverside_Hodlings___System01___Db2___Ent_Framework.Models.OrdersVm
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@{
    ViewBag.Title = "AllOrders";
    var invc = Model.Invoices.Take(1).ToList();
}

<div class="row">
    <div class="col-sm-4">
        <h2>All Orders <i class="fa-solid fa-dolly"></i></h2>
    </div>
    <div class="col-sm-5">
        <br class="smallscreennotshow"/>
        @using (Html.BeginForm())
        {
            <p class="form-inline">
                <input type="text" class="form-control" placeholder="Enter invoice number..." name="invoiceNumber" />&nbsp;
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass mr-3"></i>Search Order</button>
            </p>
        }
    </div>
    <div class="col-sm-3">
        <br class="smallscreennotshow" />
        <button type="button" onclick="@("window.location.href='" + @Url.Action("AddOrder", "Orders", new { LastOrderid=invc[0].INVOICE_NUM}) + "'")" class="btn btn-secondary float-right">
        <i class="fa-solid fa-cart-plus mr-3"></i> Add order
        </button>
    </div>
</div>

<p>Invoices on record</p>
<div class="houseordSect">
    <div class="spacialHeader">
        <span class="grid-item">Order Number</span>
        <span class="smallscreennotshow grid-item">Date</span>
        <span class="smallscreennotshow grid-item text-center">Recipient</span>
        <span class="smallscreennotshow grid-item"></span>
        <span class="grid-item"><span class="smallscreennotshow">Invoice</span> Total</span>
        <span class="grid-item">Status</span>
        <span class="grid-item text-center">Details</span>
    </div>
    <div id="allorders-sect">
        <table class="table table-striped">  
            <tbody>
                @foreach (var inv in Model.Invoices)
                {
                    var num = inv.INVOICE_NUM.Substring(4, 7);

                    <tr>
                        <td><b>@num</b></td>
                        <td style="color: #3E85CE; font-weight: bold;">@inv.INVOICE_NUM</td>
                        <td class="smallscreennotshow">@inv.INVOICE_DATE</td>

                        @foreach (var cli in Model.Clients)
                        {
                            if (inv.CLIENT_ID == cli.CLIENT_ID)
                            {
                                <td class="smallscreennotshow">@cli.NAME</td>
                            }
                        }
                        <td>R @inv.INVOICE_TOTAL</td>

                        @if (inv.PAYMENT_STATUS == "Paid                ")
                        {
                            <td class="greenclr" @*width="10%"*@><span><img src="~/icons/checked.png" class="icnImg" /></span> <b>@inv.PAYMENT_STATUS</b></td>
                        }
                        else if (inv.PAYMENT_STATUS == "Awaiting Payment    ")
                        {
                            <td class="orangepclr" @*width="10%"*@><span><img src="~/icons/pending.png" class="icnImg" /></span> <b>@inv.PAYMENT_STATUS</b></td>
                        }
                        else
                        {
                            <td class="redclr" @*width="10%"*@><span><img src="~/icons/cancel.png" class="icnImg" /></span> <b>@inv.PAYMENT_STATUS</b></td>
                        }

                        <td><button class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("OrderDetails", "Orders", new { Orderid=inv.INVOICE_NUM}) + "'")"><i class="fa-regular fa-eye"></i></button></td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<br />
Page @(Model.Invoices.PageCount < Model.Invoices.PageNumber ? 0 : Model.Invoices.PageNumber) of @Model.Invoices.PageCount
@Html.PagedListPager(Model.Invoices, page => Url.Action("AllOrders", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))