@model Riverside_Hodlings___System01___Db2___Ent_Framework.Models.OrdersVm
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@{
    ViewBag.Title = "AllOrders";
}

<div class="row">
    <div class="col-sm-4">
        <h2>All Orders <i class="fa-solid fa-dolly"></i></h2>
    </div>
    <div class="col-sm-8">
        <br class="smallscreennotshow"/>
        @using (Html.BeginForm())
        {
            <p class="form-inline">
                <input type="text" class="form-control" placeholder="Enter invoice number..." name="invoiceNumber" />&nbsp;
                <button type="submit" class="btn btn-primary form-control"><i class="fa-solid fa-magnifying-glass mr-3"></i>Search Order</button>
            </p>
        }
    </div>
</div>
<p>All Invoices on record</p>
    <div id="allorders-sect">
        <table class="table table-striped">
            <thead class="bg-dark text-light">
                <tr>
                    <th>#</th>
                    <th>Order Number</th>
                    <th class="smallscreennotshow">Date</th>
                    <th class="smallscreennotshow">Recipient</th>
                    <th>Invoice Total</th>
                    <th>Status</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var inv in Model.Invoices)
                {
                    var num = inv.INVOICE_NUM.Substring(4, 7);                  

                <tr>
                    <td><b>@num</b></td>
                    <td>@inv.INVOICE_NUM</td>
                    <td class="smallscreennotshow">@inv.INVOICE_DATE</td>

                    @foreach (var cli in Model.Clients)
                    {
                        if (inv.CLIENT_ID == cli.CLIENT_ID)
                        {
                            <td class="smallscreennotshow">@cli.NAME</td>
                        }
                    }
                    <td>R @inv.INVOICE_TOTAL</td>

                    @if (inv.PAYMENT_STATUS == "Paid                ")
                    {
                        <td class="greenclr" width="10%"><span><img src="~/icons/checked.png" width="12%" /></span> <b>@inv.PAYMENT_STATUS</b></td>
                    }
                    else if (inv.PAYMENT_STATUS == "Awaiting Payment    ")
                    {
                        <td class="orangepclr" width="10%"><span><img src="~/icons/pending.png" width="12%" /></span> <b>@inv.PAYMENT_STATUS</b></td>
                    }
                    else
                    {
                        <td class="redclr" width="10%"><span><img src="~/icons/cancel.png" width="12%" /></span> <b>@inv.PAYMENT_STATUS</b></td>
                    }

                    <td><button class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("OrderDetails", "Orders", new { Orderid=inv.INVOICE_NUM}) + "'")"><i class="fa-regular fa-eye"></i></button></td>

                </tr>
                }
            </tbody>
        </table>
    </div>
<br />
Page @(Model.Invoices.PageCount < Model.Invoices.PageNumber ? 0 : Model.Invoices.PageNumber) of @Model.Invoices.PageCount
@Html.PagedListPager(Model.Invoices, page => Url.Action("AllOrders", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))