@model Riverside_Hodlings___System01___Db2___Ent_Framework.Models.orderDetailsVm
@{
    ViewBag.Title = "OrderDetails";
}

@{
    var inv = Model.Invoices[0];
    var client = Model.Clients.Where(c => c.CLIENT_ID == inv.CLIENT_ID).ToList();
    var colorclass = "";
    var indicator = "";
    var bgcolorclss = "";

    if (inv.PAYMENT_STATUS == "Paid                ")
    {
        colorclass = "greenclr";
        indicator = "Completed";
        bgcolorclss = "yellowgreen-bg";
    }
    else if (inv.PAYMENT_STATUS == "Awaiting Payment    ")
    {
        colorclass = "orangepclr";
        indicator = "Pending";
        bgcolorclss = "orange-bg";
    }
    else
    {
        colorclass = "redclr";
        indicator = "Voided";
        bgcolorclss = "red-bg";
    }
}

<style>
    .crdheading {
        font-family: Impact;
    }

    .arilfont {
        font-family: 'Arial Rounded MT';
    }
    
</style>

<a class="btn btn-dark float-right" style="position:fixed; right:15px;" href="/Orders/AllOrders"><i class="fa-solid fa-chevron-left"></i></a>
<br /><br />

<span class="arilfont" style="font-size: 28px; padding-top:10px;"><i class="fa-regular fa-people-carry-box mr-3"></i> Order: @inv.INVOICE_NUM </span><span class="indcatorbar @bgcolorclss">@indicator</span>
 
<br />
<h4>Details:</h4>
<div class="row">
    <div class="col-sm-4">
        <div class="card" style="width: 100%; height: 28rem;">
            <div class="card-body">
                <center><img src="~/icons/box.png" alt="box" width="18%" /></center>
                <h4 class="crdheading">Order for</h4>
                <h5><i class="fa-solid fa-user mr-3"></i> @client[0].NAME</h5>
                <h5><i class="fa-solid fa-map-location-dot mr-3"></i> Address: @client[0].ADDRESS</h5>
                <h5><i class="fa-solid fa-phone mr-3"></i> Phone number: @client[0].PHONE_NUMBER</h5>
                <h5><i class="fa-solid fa-envelope mr-3"></i> Email: @client[0].EMAIL</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 100%; height: 28rem;">
            <div class="card-body">
                <center><img src="~/icons/bill.png" alt="box" width="15%" /></center>
                <h4 class="crdheading">Invoice details</h4>
                <h5><i class="fa-regular fa-file-lines mr-3"></i> @inv.INVOICE_NUM</h5>
                <h5><i class="fa-solid fa-calendar-days mr-3"></i> Date: @inv.INVOICE_DATE</h5>
                <h5 class="@colorclass"><i class="fa-solid fa-coins mr-3"></i> <b>@inv.PAYMENT_STATUS</b></h5>
                <h5><i class="fa-regular fa-truck-fast mr-3"></i> Status: @inv.DELIVERY_STATUS</h5>
                @if (inv.PAYMENT_STATUS == "Void                " || inv.PAYMENT_STATUS == "Paid                ")
                {
                    //dont show the edit status button
                }
                else
                {
                    <button class="btn btn-info" onclick="@("window.location.href='" + @Url.Action("EditStatus", "Orders", new { Orderid=inv.INVOICE_NUM}) + "'")">
                        <i class="fa-regular fa-file-pen mr-3"></i>Update Payment Status
                    </button>
                }

            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 100%; height: 28rem;">
            <div class="card-body">
                <center><img src="~/icons/shopping-cart.png" alt="box" width="15%" /></center>
                <h4 class="crdheading">Invoice Items </h4>(@inv.PRICES_USED)
                @foreach (var invItem in Model.Invoice_itm)
                {
                    foreach (var prod in Model.Products)
                    {
                        if (invItem.PRD_CODE == prod.PRD_CODE)
                        {
                            <h5>
                                <i class="fa-solid fa-cart-circle-check mr-3"></i> @prod.PRODUCT_NAME &nbsp;X @invItem.QUANTITY &nbsp;&nbsp;
                                R
                                @if (inv.PRICES_USED == "Wholesale Price     ")
                                {
                                    @prod.WHOLESALE_PRICE
                                }
                                else if (inv.PRICES_USED == "Selling Price       ")
                                {
                                    @prod.SELLING_PRICE
                                }
                                else
                                {
                                    @prod.WATERPRENEUR_PRICE
                                }
                            </h5>
                        }
                    }

                }
                <h4><i class="fa-solid fa-money-bill-1-wave mr-3"></i>Total: <b>R @inv.INVOICE_TOTAL</b></h4>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <img src="~/icons/discount.png" alt="box" width="20%" />
                    </div>
                    <div class="col-sm-10">
                        <h4 class="crdheading">Invoice Notes</h4>
                        <p>@Model.ClInvoiceNotes[0].DESCRIPTION</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

