@model Riverside_Hodlings___System01___Db2___Ent_Framework.Models.ClientsVm
@{ 
    ViewBag.Title = "OrderDetails";
}

@{ 
    var inv = Model.Invoices[0];
    var client = Model.Clients.Where(c => c.CLIENT_ID == inv.CLIENT_ID).ToList();
}

<style>
    .crdheading{
        font-family: Impact;
    }
    .arilfont{
        font-family: 'Arial Rounded MT'
    }
</style>

<h2 class="arilfont"><i class="fa-regular fa-people-carry-box mr-3"></i> Order: @inv.INVOICE_NUM</h2>
<div class="row">
    <div col-sm-6>
        <div class="card" width="95%">
            <div class="card-body">
                <center><img src="~/icons/box.png" alt="box" width="15%"/></center>
                <h4 class="crdheading">Order for</h4>
                <h5><i class="fa-solid fa-user"></i> @client[0].NAME</h5>
                <h5><i class="fa-solid fa-map-location-dot"></i> Address: @client[0].ADDRESS</h5>
                <h5><i class="fa-solid fa-phone"></i> Phone number: @client[0].PHONE_NUMBER</h5>
                <h5><i class="fa-solid fa-envelope"></i> Email: @client[0].EMAIL</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card" width="95%">
            <div class="card-body">
                <center><img src="~/icons/bill.png" alt="box" width="15%" /></center>
                <h4 class="crdheading">Invoice details</h4>
                <h5><i class="fa-regular fa-file-lines"></i> @inv.INVOICE_NUM</h5>
                <h5><i class="fa-solid fa-calendar-days"></i> Date: @inv.INVOICE_DATE</h5>
                <h5><i class="fa-solid fa-coins"></i> @inv.PAYMENT_STATUS</h5>
                <h5><i class="fa-regular fa-truck-fast"></i> Status: @inv.DELIVERY_STATUS</h5>
            </div>
        </div>
    </div>
</div>

