@model PagedList.IPagedList<Riverside_Hodlings___System01___Db2___Ent_Framework.Models.CLIENT>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@*<--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@


@{
    ViewBag.Title = "Clients";
}
<style>
    @@media only screen and (max-width: 600px) {
        .smallscreennotshow {
            display: none
        }
    }
</style>

<div class="row">
    <div class="col-sm-4">
        <h2>Clients <i class="fa-solid fa-users mr-3"></i></h2>
    </div>
    <div class="col-sm-8">
        <br class="smallscreennotshow" />
        @using (Html.BeginForm())
        {
            <p class="form-inline">
                <input type="text" class="form-control" placeholder="Enter client name..." name="searchString" />&nbsp;
                <button type="submit" class="btn btn-primary form-control"><i class="fa-solid fa-magnifying-glass mr-3"></i>Search Client</button>
            </p>
        }
    </div>
</div>

<p>All Riverside Holding's clients'</p>
<table class="table table-striped">
    <thead class="table bg-dark text-light">
        <tr>
            <th>Name</th>
            <th class="smallscreennotshow">Email</th>
            <th>Phone Number</th>
            <th class="smallscreennotshow">Physical address</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model.OrderByDescending(c => c.NAME))
        {

            <tr>
                <td>@client.NAME</td>
                <td class="smallscreennotshow">@client.EMAIL</td>
                <td>@client.PHONE_NUMBER</td>
                <td class="smallscreennotshow">@client.ADDRESS</td>
                <td>
                    <button class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("ClientDetails", "ManageClients", new { clientId = client.CLIENT_ID}) + "'")"><i class="fa-regular fa-eye"></i></button>
                </td>
                <td>
                    <button class="btn btn-info" onclick="@("window.location.href='" + @Url.Action("EditClient", "ManageClients", new { clientId = client.CLIENT_ID}) + "'")"><i class="fa-regular fa-user-pen"></i></button>
                </td>
                <td>
                    <button class="btn btn-danger" onclick="@("window.location.href='" + @Url.Action("DeleteClient", "ManageClients", new { clientId = client.CLIENT_ID}) + "'")"><i class="fa-regular fa-trash-can"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Clients", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<!-- Modal -->
<!--<div class="modal fade" id="ClientModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="clientModalbody" class="modal-body">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function deleteClient(prodId) {
        $.ajax({
            url: '/ManageClients/DeleteClient/',
            type: 'GET',
            data: { id: prodId },
            success: function (response) {
                $('#clientModalbody').html(response);
                $('#ClientsModalCenter').modal('show');
            },
            error: function () {
                alert("There is some problem in the Details service! Check Controller or view.")
            }
        });
    }
</script>-->