@model PagedList.IPagedList<Riverside_Hodlings___System01___Db2___Ent_Framework.Models.CLIENT>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

@{
    ViewBag.Title = "Clients";
    var cliFun = Model;
}

<style>
    @@media only screen and (max-width: 600px) {
        .smallscreennotshow {
            display: none
        }
    }
</style>

<div class="row">
    <div class="col-sm-4">
        <h2>Clients <i class="fa-solid fa-users mr-3"></i></h2>
    </div>
    <div class="col-sm-5">
        <br class="smallscreennotshow" />
        @using (Html.BeginForm())
        {
            <p class="form-inline">
                <input type="text" class="form-control" placeholder="Enter client name..." name="searchString" />&nbsp;
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass mr-3"></i>Search Client</button>
            </p>
        }
    </div>
    <div class="col-sm-3">
        <br class="smallscreennotshow" />
        <a href="/ManageClients/AddClient" class="btn btn-secondary float-right"><i class="fa-solid fa-user-plus mr-3"></i> Add Client</a>
    </div>
</div>

<p>All Riverside Holding's clients'</p>
<table class="table table-striped">
    <thead class="table bg-dark text-light">
        <tr>
            <th>Name</th>
            <th class="smallscreennotshow">Email</th>
            <th>Phone Number</th>
            <th class="smallscreennotshow">Physical address</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {

            <tr>
                <td>@client.NAME</td>
                <td class="smallscreennotshow">@client.EMAIL</td>
                <td>@client.PHONE_NUMBER</td>
                <td class="smallscreennotshow">@client.ADDRESS</td>
                <td>
                    <button class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("ClientDetails", "ManageClients", new { clientId = client.CLIENT_ID}) + "'")"><i class="fa-regular fa-eye"></i></button>
                </td>
                <td>
                    <button class="btn btn-info" id="@client.CLIENT_ID" onclick="EditClient(this.id)"><i class="fa-regular fa-user-pen"></i></button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" id="@client.CLIENT_ID" onclick="deleteClient(this.id)" data-toggle="modal" data-target="#ClientModalCenter">
                        <i class="fa-regular fa-trash-can"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Clients", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<!--delete Modal -->
<div class="modal fade" id="ClientModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle"><i class="fa-solid fa-user-xmark mr-3"></i>Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <center>
                    <img src="~/icons/user.png" alt="img" width="30%" />
                </center>

                <h4>
                    Are you sure you want to delete <span id="cliNamesp"></span> with Id <span id="cliID"></span>
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="confirmClientToDB()" data-dismiss="modal" class="btn btn-success">Yes</button>
                <button type="button" data-dismiss="modal" class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--edit Modal -->
<div class="modal fade" id="editClientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle"><i class="fa-solid fa-user-pen mr-3"></i> Edit Client</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="clientModalbody" class="modal-body">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function deleteClient(clientId) {
        var clientIDspan = document.getElementById("cliID");

        clientIDspan.innerHTML = clientId;
    }

    function confirmClientToDB() {
        var clientId = document.getElementById("cliID").innerHTML;
        $.post({
            url: "@Url.Action("ConfirmDelete", "ManageClients")",
            data: {
                clId: clientId
            },
            success: (data) => {
                let msg = JSON.parse(data);
                window.location.href = "/Home/Clients";
                alert(msg.message);
            },
            error: () => {
                alert("Error, id of client not passed , or the client is not permitted to be deleted.");
            }
        });
    }

    function EditClient(cliId) {
        $.ajax({
            url: '/ManageClients/EditClient/',
            type: 'GET',
            data: {
                id: cliId
            },
            success: function (response) {
                $('#clientModalbody').html(response);
                $('#editClientModal').modal('show');
            },
            error: function () {
                alert("There is some problem in the mangeclients service! Check Controller or view.")
            }
        });
    }
</script>