@model Riverside_Hodlings___System01___Db2___Ent_Framework.Models.DashboardVM
@{
    ViewBag.Title = "Home Page";
}

@{
    decimal allInvTotaled = 0;
    decimal revenue = 0;
    decimal inv = 0;
    decimal r = 0;
    decimal up = 0;
    decimal unpdin = 0;
    decimal tvoid = 0;
    decimal vd = 0;

    var paidinv = Model.Invoices.Where(i => i.PAYMENT_STATUS.Contains("Paid")).ToList();
    var unpaidinv = Model.Invoices.Where(i => i.PAYMENT_STATUS.Contains("Awaiting Payment")).ToList();
    var voidedinv = Model.Invoices.Where(i => i.PAYMENT_STATUS.Contains("Void")).ToList();

    foreach (var invoice in Model.Invoices)
    {
        //allInvTotaled invoices total
        inv = Convert.ToDecimal(invoice.INVOICE_TOTAL);
        allInvTotaled += inv;
    }

    foreach (var paidInv in paidinv)
    {
        //revenue calculations
        r = Convert.ToDecimal(paidInv.INVOICE_TOTAL);
        revenue += r;
    }

    foreach (var unpInv in unpaidinv)
    {
        //revenue calculations
        up = Convert.ToDecimal(unpInv.INVOICE_TOTAL);
        unpdin += up;
    }

    foreach (var voided in voidedinv)
    {
        //revenue calculations
        vd = Convert.ToDecimal(voided.INVOICE_TOTAL);
        tvoid += vd;
    }
}


<h2>Dashboard <i class="fa fa-tachometer"></i></h2>
<h4>Financial summary for @DateTime.Now.Year - Riverside Holdings</h4>
<br />
<section>
        <div class="smallscreennotshow">
            <div class="row">
                <div class="col-sm-1 newRoman">
                    <center>
                        <button class="nav-iconsRH navimenubtn" onclick="shownewInvNum()" data-toggle="modal"
                                data-target="#newOrderFormCenter">
                            <i class="fa-solid fa-file-circle-plus"></i>
                        </button>
                        <p>Add order</p>
                    </center>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="col-sm-1 newRoman">
                    <center>
                        <button class="nav-iconsRH navimenubtn" onclick="@("window.location.href='" + @Url.Action("Clients", "Home") + "'")">
                            <i class="fa fa-user-plus"></i>
                        </button>
                        <p>Add Client</p>
                    </center>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="col-sm-1 newRoman">
                    <center>
                        <button class="nav-iconsRH navimenubtn" data-toggle="modal" data-target="#printInvoiceCenter">
                            <i class="fa-regular fa-file-pdf"></i>
                        </button>
                        <p>Print invoice</p>
                    </center>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="col-sm-1 newRoman">
                    <center>
                        <button class="nav-iconsRH navimenubtn" onclick="window.open('allorders.html', '_self')">
                            <i class="fa-solid fa-dolly"></i>
                        </button>
                        <p>View all Orders</p>
                    </center>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="col-sm-1 newRoman">
                    <center>
                        <button class="nav-iconsRH navimenubtn" onclick="window.open('unpaid.html', '_self')">
                            <i class="fa-solid fa-box-open"></i>
                        </button>
                        <p>Unpaid Orders</p>
                    </center>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="col-sm-1 newRoman">
                    <center>
                        <button class="nav-iconsRH navimenubtn" onclick="window.open('clients.html', '_self')">
                            <i class="fa-solid fa-users"></i>
                        </button>
                        <p>View Clients</p>
                    </center>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="col-sm-1 newRoman">
                    <center>
                        <button class="nav-iconsRH navimenubtn" onclick="window.open('finance.html', '_self')">
                            <i class="fa-solid fa-money-bill-trend-up"></i>
                        </button>
                        <p>View Finance</p>
                    </center>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>

        <p>Summary invoice totals</p>
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h4><i class="fa-solid fa-file-invoice"></i>  All invoices: <b>R @allInvTotaled</b></h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h4><i class="fa-solid fa-sack-xmark"></i>  Unpaid orders: <b>R @unpdin</b></h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h4><i class="fa-solid fa-trash-can"></i> Voided orders: <b>R @tvoid</b></h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h4><i class="fa-solid fa-money-bill-trend-up"></i>  Total Revenue: <b>R @revenue</b></h4>
                    </div>
                </div>
            </div>
        </div>
</section>
